<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Gửi thông báo</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" title="title"
                               class="form-control"
                               [(ngModel)]="title"
                               name="title">
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <textarea type="text" title="content"
                                  class="form-control"
                                  [(ngModel)]="content"
                                  name="content"></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (click)="onClickCreate($event)">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>