<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" [routerLink]="['/']"></a>

        <ul class="nav navbar-nav" *ngIf="authSrv.isLoggedIn()">
            <li class="nav-item px-2">
                <a class="nav-link" [routerLink]="['/a']" routerLinkActive="active">Dashboard</a>
            </li>
        </ul>

        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item px-2" *ngIf="!authSrv.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
            </li>

            <app-dropdown-account *ngIf="authSrv.isLoggedIn()"></app-dropdown-account>
        </ul>
    </div>
</header>

<!-- Main content -->
<main class="main">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
</main>

<mk-footer></mk-footer>