<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-group">
                    <div class="card p-2">
                        <mk-loading [toggle]="loading"></mk-loading>

                        <div class="card-block">
                            <form novalidate #f="ngForm">
                                <h1 class="mb-2">Đăng nhập</h1>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button (click)="onClickLogin($event)"
                                                    class="btn btn-block btn-social btn-facebook">
                                                Đăng nhập qua Facebook
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>