<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block">
                            <form novalidate #f="ngForm">
                                <h1>Login</h1>
                                <p class="text-muted">One click to Login</p>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a [href]="facebook" class="btn btn-block btn-social btn-facebook">
                                                Sign in with Facebook
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>