<div class="form-group row ob-form-group">
    <div class="col-sm-6">
        <label>{{name}}</label>
    </div>

    <div class="col-sm-6">
        <div class="input-group">
            <input type="number"
                   class="form-control"
                   title="size"
                   [(ngModel)]="value"
                   name="size"
                   min="0"
                   (input)="onChangeValue($event)">
            <span class="input-group-addon">px</span>
        </div>
    </div>
</div>