<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12">
        <div class="card">
            <div class="card-header">
                Choose a business
            </div>
            <div class="card-block">
                <form>
                    <div class="form-group">
                        <select [(ngModel)]="businessId" class="form-control" title="Choose a business" name="business"
                                id="choose-business">
                            <option [value]="business._id" *ngFor="let business of businesses">{{business.name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="onChooseBusiness()">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>