<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Reset your password</h1>
                        <p class="text-muted text-center">Enter your email address below and we'll send password reset
                            instructions.</p>

                        <form #f="ngForm" novalidate (submit)="onSubmit($event)">

                            <div class="form-group"
                                 [ngClass]="(email.errors && (email.dirty || email.touched)) ? 'has-danger' : ''">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="user.email"
                                           name="email"
                                           required
                                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                                           #email="ngModel"
                                           placeholder="Email">
                                </div>

                                <div class="form-control-feedback"
                                     *ngIf="(email.errors && (email.dirty || email.touched))">
                                    Email is required and format should be <i>example@marketify.com</i>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-success" [disabled]="!f.valid">
                                    Request new password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>