@import "../../../scss/bootstrap-variables";

.campaign-wrapper {
    position: relative;
    min-height: 500px;

    .name {
        vertical-align: middle;
        margin-bottom: 0;
    }
}

.banner {
    position: relative;

    .qr-code {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 200px;
        height: 200px;
    }
}

.event-header {
    position: relative;
}

.number-users {
    width: 200px;
    height: 100px;
    text-align: left;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;

    .card-block {
        position: relative;

        .export-users {
            position: absolute;
            top: 16px;
            right: 20px;
            cursor: pointer;
            display: none;

            &:hover {
                color: $brand-primary;
            }
        }
    }

    small {
        font-size: 12px;
    }
}

.maps {
    img {
        max-height: 300px;
    }
}