<div class="campaign-wrapper" id="event-detail">
    <div class="detail" *ngIf="event">
        <mk-navigation-event [eventId]="id"></mk-navigation-event>

        <div class="event-header">
            <div class="banner">
                <img [src]="event.banner" alt="Banner" class="img-fluid">

                <div class="qr-code">
                    <mk-qr-code [data]="id"></mk-qr-code>
                </div>

                <div class="number-users">
                    <div class="card">
                        <div class="card-block">
                            <span class="export-users" (click)="onClickExportUsers($event)"><i
                                    class="fa fa-cloud-download" aria-hidden="true"></i></span>

                            <div class="h2 mb-0 text-info font-weight-bold">{{users.length}}</div>
                            <small class="text-muted text-uppercase font-weight-bold">Người tham gia</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="h3 name py-1">
                        <app-text-editable [content]="event.name"
                                           (update)="onUpdateName($event)">
                        </app-text-editable>
                    </div>

                    <div class="place h5">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                        <app-text-editable [content]="event.place"
                                           (update)="onUpdatePlace($event)">
                        </app-text-editable>
                    </div>
                </div>

                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="card descriptions my-2" id="overview">
            <div class="card-header">Thông tin tổng quan

                <button class="btn btn-sm btn-primary mx-1" *ngIf="editingOverview"
                        (click)="onClickSaveOverview($event)">Lưu lại
                </button>

                <button class="btn btn-sm btn-primary mx-1" *ngIf="!editingOverview"
                        (click)="onClickEditOverview($event)">Sửa
                </button>
            </div>
            <div class="card-block">
                <div class="content" *ngIf="!editingOverview" [innerHTML]="event.overview">
                </div>

                <app-html-control *ngIf="editingOverview" [(content)]="event.overview"></app-html-control>
            </div>
        </div>

        <div class="card maps my-2" id="map">
            <div class="card-header">Bản đồ</div>
            <div class="card-block">
                <img [src]="event.map">
            </div>
        </div>

        <div class="card timeline my-2" id="agenda">
            <div class="card-header">Lịch trình</div>
            <div class="card-block">
                <mk-edit-timeline [eventId]="id" (update)="onUpdateTimelines($event)"></mk-edit-timeline>
            </div>
        </div>

        <div class="card questions my-2" id="quick-questions">
            <div class="card-header">Câu hỏi nhanh</div>
            <div class="card-block">
                <mk-questions [eventId]="id"></mk-questions>
            </div>
        </div>
    </div>

    <mk-loading [toggle]="loading" [title]="'Đang tải thông tin sự kiện...'"></mk-loading>
</div>