@import "../../../scss/bootstrap-variables";

.campaign-wrapper {
    position: relative;
    min-height: 500px;

    .name {
        vertical-align: middle;
        margin-bottom: 0;
    }
}

.banner {
    position: relative;

    .qr-code {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 200px;
        height: 200px;
    }
}