<button class="btn btn-success" (click)="show()" *ngIf="template.html">Click to edit</button>

<div bsModal #modal="bs-modal" [config]="{backdrop: 'static'}" class="ob-panel-design modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Before signup</h4>

                <div class="pull-right">
                    <button class="btn btn-default" (click)="hide()">Cancel</button>
                    <button class="btn btn-danger" (click)="onClickSaveChanges()">Save changes</button>
                </div>
            </div>
            <div class="modal-body">
                <mk-template-editor *ngIf="template && open"
                                    [id]="'before-signup'"
                                    [html]="template.html"
                                    [cssUrl]="template.cssUrl">
                </mk-template-editor>
            </div>
        </div>
    </div>
</div>