<div class="feedback-wrapper">
    <div class="icon" (click)="open()" title="Câu hỏi từ người tham gia">
        <div class="number" *ngIf="lists.length">{{lists.length}}</div>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Câu hỏi ({{lists.length}})</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-feedbacks">
                    <div class="feedback" *ngFor="let q of lists">
                        <div class="card" [class.card-accent-success]="q.resolve">
                            <div class="card-header">
                                Gửi bởi <span class="font-weight-bold">{{q.email}}</span>

                                <button *ngIf="!q.resolve" (click)="onClickResolve($event, q.$key)"
                                        class="btn btn-sm btn-default float-xs-right">Đánh dấu trả lời
                                </button>
                            </div>

                            <div class="card-block">
                                {{q.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>