<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>

                        <form #f="ngForm" novalidate (submit)="onSubmit($event)">

                            <div class="form-group"
                                 [ngClass]="(email.errors && (email.dirty || email.touched)) ? 'has-danger' : ''">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="user.email"
                                           name="email"
                                           required
                                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                                           #email="ngModel"
                                           placeholder="Email">
                                </div>

                                <div class="form-control-feedback"
                                     *ngIf="(email.errors && (email.dirty || email.touched))">
                                    Email is required and format should be <i>example@marketify.com</i>
                                </div>
                            </div>

                            <div class="form-group"
                                 [ngClass]="(password.errors && (password.dirty || password.touched)) ? 'has-danger' : ''">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control"
                                           [(ngModel)]="user.password"
                                           minlength="8"
                                           name="password"
                                           #password="ngModel"
                                           required
                                           placeholder="Password">
                                </div>

                                <div class="form-control-feedback"
                                     *ngIf="(password.errors && (password.dirty || password.touched))">
                                    <div *ngIf="password.errors?.required">Password is required</div>
                                    <div *ngIf="password.errors?.minlength">Password must be at least 8 characters</div>
                                </div>
                            </div>

                            <div class="form-group"
                                 [ngClass]="!matchPassword() && confirmPassword.touched ? 'has-danger' : ''">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control"
                                           [(ngModel)]="user.confirmPassword"
                                           name="confirmPassword"
                                           #confirmPassword="ngModel"
                                           placeholder="Retype password">
                                </div>

                                <div class="form-control-feedback" *ngIf="!matchPassword() && confirmPassword.touched">
                                    Password does not match
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-success" [disabled]="!f.valid">Create
                                    Account
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer p-2">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>Facebook</span>
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>Twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>