<div class="campaigns-wrapper">
    <app-new-campaign #formCreate></app-new-campaign>

    <header class="navbar">

        <ul class="nav navbar-nav">
            <li class="nav-item px-1">
                <form>
                    <input type="text" class="form-control"
                           [(ngModel)]="querySearch"
                           name="querySearch"
                           placeholder="Search events">
                </form>
            </li>
        </ul>

        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item px-1">
                <button class="btn btn-success" (click)="onOpenCreateForm($event)">New Event</button>
            </li>
        </ul>
    </header>

    <div class="list-campaigns">
        <mk-loading [toggle]="loading"></mk-loading>

        <div class="row">
            <div class="col-md-4" *ngFor="let event of campaignsFiltered()">
                <div class="card campaign" [ngClass]="event.status == 'Publish' ? 'card-accent-success' : ''">
                    <div class="status" [ngClass]="event.status | lowercase">
                        {{event.status}}
                    </div>
                    <a [routerLink]="['/a/events/' + event.$key]">
                        <img class="card-img-top img-fluid" src="./assets/images/screeshot.png" alt="Card image cap">
                    </a>
                    <div class="card-block">
                        <h3 class="card-title py-1">{{event.name}}</h3>
                        <div class="stat">
                            <div class="h6"><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.place}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
