<div class="campaigns-wrapper">
    <app-new-campaign #formCreate></app-new-campaign>

    <header class="navbar">

        <ul class="nav navbar-nav">
            <li class="nav-item px-1">
                <form>
                    <input type="text" class="form-control"
                           [(ngModel)]="querySearch"
                           name="querySearch"
                           placeholder="Search campaigns">
                </form>
            </li>
        </ul>

        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item px-1">
                <button class="btn btn-success" (click)="onOpenCreateForm($event)">New Campaign</button>
            </li>
        </ul>
    </header>

    <div class="list-campaigns row">
        <div class="col-md-4" *ngFor="let campaign of campaignsFiltered()">
            <div class="card campaign" [ngClass]="campaign.status == 'publish' ? 'card-accent-success' : ''">
                <div class="status" [ngClass]="campaign.status">
                    {{campaign.status}}
                </div>
                <a [routerLink]="[campaign._id]">
                    <img class="card-img-top img-fluid" src="./assets/images/screeshot.png" alt="Card image cap">
                </a>
                <div class="card-block">
                    <h3 class="card-title py-1 text-xs-center">{{campaign.name}}</h3>
                    <div class="stat text-xs-center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-muted small text-uppercase font-weight-bold">Views</div>
                                <div class="h4 text-info">{{campaign.view_count || 0}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-muted small text-uppercase font-weight-bold">Signusp</div>
                                <div class="h4 text-info">{{campaign.signup_count || 0}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
