<div class="card">
    <div class="card-header h4">Account</div>

    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"
           [routerLink]="['/settings/profile']" routerLinkActive="active">Profile</a>

        <a class="list-group-item list-group-item-action"
           [routerLink]="['/settings/password']" routerLinkActive="active">Change Password</a>
    </div>
</div>

<div class="card">
    <div class="card-header h4">Business</div>

    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"
           [routerLink]="['/settings/edit-business']" routerLinkActive="active">Business Information</a>
    </div>
</div>

<div class="card">
    <div class="card-header h4">Integrations</div>

    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"
           [routerLink]="['/settings/linked-accounts']" routerLinkActive="active">Linked Accounts</a>
    </div>
</div>

