@import "../../../scss/bootstrap-variables";

.navigation-event {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;

    .wrapper {
        margin-right: 10px;
    }

    .controls {
        list-style: none;
        font-size: 21px;
        text-align: center;
        padding: 0;

        .control {
            background-color: #eee;
            margin-bottom: 10px;
            padding: 5px 11px;
            border-radius: 50%;
            cursor: pointer;
            transition: 200ms all ease-out;

            &:hover {
                background-color: $brand-success;
                color: #fff;
            }
        }
    }
}